In [1]:
#  query function

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'P': range(1, 7),
                   'Q': range(14, 2, -2),
                   'R R': range(13, 7, -1)})
df

   P   Q  R R
0  1  14   13
1  2  12   12
2  3  10   11
3  4   8   10
4  5   6    9
5  6   4    8

In [5]:
df.query('P > Q')

   P  Q  R R
5  6  4    8

In [6]:
df.query('P < Q')

   P   Q  R R
0  1  14   13
1  2  12   12
2  3  10   11
3  4   8   10
4  5   6    9

In [7]:
df[df.P > df.Q]

   P  Q  R R
5  6  4    8

In [8]:
import pandas as pd
df = pd.DataFrame({'P': range(1, 7),
                   'Q': range(14, 2, -2),
                   'R R': range(13, 7, -1)})
df.query('Q == `R R`')

   P   Q  R R
1  2  12   12

In [9]:
df[df.Q == df['R R']]

   P   Q  R R
1  2  12   12